*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 150vh;
    width: 100%;
    position: relative;
    background: url("./images/the-king-of-wakanda-black-panther-q4.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #fff;
    font-family: "poppins", sans-serif;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
}
.desc{
    background: #000;
    padding: 50px;
    color: #a8a8a8;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
}